local/camera1/
local/camera2/
local/camera3/
local/camera4/
local/result1/
local/result2/
local/result3/
local/result4/
local/yolov3.cfg
local/yolov3.txt
local/yolov3.weights

internet/camera1_/
internet/camera2_/
internet/camera3_/
internet/camera4_/
internet/result1_/
internet/result2_/
internet/result3_/
internet/result4_/
internet/yolov3.cfg
internet/yolov3.txt
internet/yolov3.weights

__pycache__/
yolov3.cfg
yolov3.txt
yolov3.weights
